---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>

<div class="post-list">
      {% assign category = page.title %}
      {% for post in site.categories[category] %}
            <ul>
            </ul>
      {% endfor %}
</div>





{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>

<div class="post-list">
      {% assign category = page.title %}
      {% for post in site.categories[category] %}
            <ul>
              <li>
                <time>
                  {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                </time>
                <a class="title" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
              </li>
            </ul>
      {% endfor %}
</div>
